body {
    margin: 0px;

}



html {font-size:16px}
/*FIX LATER body{font-size:62.5%}
*/



h1, h2, h3 {
    font-family: 'Roboto', sans-serif; 
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p, a {
    font-family: 'Open Sans', sans-serif;
}


img {
    max-width: 100%;
    height: auto;
}





.heading > h1 {
    
    padding: 0rem;
    text-align: left;
    
}



.heading {
/*    position: fixed;*/
    background: white;
    position: fixed;
    z-index: 1;

}

.navigation {
    background: #666;

}

.navigation-bar ul{
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;
    border: 0rem;
    overflow: hidden;
/*    float: right;     */
    text-align: right;
    background: rgb(80,115,53);
    
    margin-top: -1.3rem;
}

.navigation-bar ul li {
    float: right;
    
}


.navigation-bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    background: rgb(80,115,53);
}

.navigation-bar a:hover {
    background: rgb(216,242,195);
    color: rgb(41,49,89);
}
.about header {
    text-align: center;
}





/* For mobile phones: */
@media all and (min-width:000px) {
    [class*="col-"] {
        width: 100%;
    }
    main {
        padding-top: 311px;

    }
}


@media all and (min-width: 392px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    main {
        padding-top: 122px;
    }  

}
@media all and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    
    .about, .work, .fun {
        height: 50rem;
        overflow: auto;
    }
    p {
        text-align: center;
    }
    

}

/*Credit to http://www.w3schools.com/css/css_rwd_mediaqueries.asp*/


/*Media Query and Layout*/
*, *:before, *:after {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
}






.bio, .skills, .work, .fun, .contact {
    padding: 0rem 5rem;
    overflow: auto;
    overflow:hidden;
}


.about {
    background: rgb(93,104,166);
    color: white;
}

.fun {
    background: rgb(178, 133, 117);
    color: white;
}

.skills ul {
    list-style-type: none;
}

.contact img {
    height: 50px;
    width: 50px;
}


.img-circle {
    border-radius: 50%;
    transform: scale(.8) rotate(-90deg);
}




